#!/usr/bin/env zsh

source ~/.local/share/chezmoi/.helpers

if is_installed lazygit; then
  success 'lazygit is already installed'
else
  started Installing lazygit
  successfully brew install jesseduffield/lazygit/lazygit
  success Installed lazygit
fi

if is_installed github-cli; then
  success 'github-cli is already installed'
else
  started Installing github-cli
  successfully brew install gh
  success Installed github-cli
fi


