{{- $minimalinstall := promptBool "Minimal install" -}}
{{- $installdesktopapps := false }}
{{- if and (not $minimalinstall) (eq .chezmoi.os "darwin") }}
{{- $installdesktopapps = promptBool "Install desktop apps" -}}
{{- end }}

data:
  minimalinstall: {{ $minimalinstall }}
  installdesktopapps: {{ $installdesktopapps }}
  lang:
    golang: {{ promptBool "Install golang" }}
    rust: {{ promptBool "Install rust" }}
    swift: {{ promptBool "Install swift" }}
    java: {{ promptBool "Install java" }}
    dotnet: {{ promptBool "Install dotnet" }}
