nodejs 17.4.0
dust 0.7.5

{{- if .lang.ruby }}
ruby 2.7.2
{{- end }}

{{- if .lang.golang }}
golang 1.16.5
{{- end }}

{{- if .lang.rust }}
rust 1.42.0
{{- end }}

{{- if .lang.swift }}
swift 5.2
{{- end }}

{{- if .lang.java }}
java zulu-17.32.13
{{- end }}

{{- if .lang.dotnet }}
dotnet-core 3.1.404
{{- end }}
