[user]
  name = Sam Garson
  email = samtgarson@gmail.com

[core]
  excludesfile = ~/.gitignore
  pager = diff-so-fancy | less --tabs=4 -RFX
{{- if .installdesktopapps }}
  editor = code --wait
{{- end }}

[color]
  ui = true

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[color "diff"]
  meta = 11
  frag = cyan bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse

[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P
