#!/usr/bin/env bash

set -ef -o pipefail

source ~/.local/share/chezmoi/.helpers

install_brew() {
  started 'Installing brew'

  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"

  success 'Installed brew'
}

if is_installed brew; then
  success 'brew already installed'
else
  successfully install_brew
fi
