#!/usr/bin/env zsh

source ~/.local/share/chezmoi/.helpers

install_zsh() {
  started 'Installing zsh'

  {{- if eq .chezmoi.os "linux" }}
  successfully sudo apt-get install zsh
  {{- else if eq .chezmoi.os "darwin" }}
  successfully brew install zsh zsh-completions
  {{- end }}

  success 'Installed zsh'
}

set_shell() {
  started 'Setting default shell to zsh'

  successfully sudo chsh -s $(which zsh)

  success 'Set default shell to zsh'
}

if is_installed zsh; then
  success 'zsh already installed'
else
  successfully install_zsh
fi

set_shell
