Host *
  {{- if eq .chezmoi.os "darwin" }}
  AddKeysToAgent yes
  UseKeychain yes
  {{- end }}
  IdentityFile ~/.ssh/id_ed25519

Host pi
  HostName pi.local
  User sam
  Port 21222

Host code
  HostName code.samgarson.com
  User sam

