Host *
  {{- if eq .chezmoi.os "darwin" }}
  AddKeysToAgent yes
  UseKeychain yes
  {{- end }}
  IdentityFile ~/.ssh/id_rsa

Host app01 
  HostName vded-sohouk-001.servers.wirehive.net 

Host app02
  HostName vded-sohouk-002.servers.wirehive.net

Host staging
  HostName vded-sohouk-009.servers.wirehive.net

Host app01 app02 staging
  ForwardAgent yes
 
