source ~/.local/share/chezmoi/.helpers

. $HOME/.asdf/asdf.sh
. $HOME/.asdf/completions/asdf.bash

{{- if .lang.java }}
. ~/.asdf/plugins/java/set-java-home.zsh
{{- end }}

# npm utils
alias npms='bat package.json | jq .scripts -r'

# dotnet utils
{{- if .lang.dotnet }}
  . ~/.asdf/plugins/dotnet-core/set-dotnet-home.zsh
  export PATH="~/.dotnet/tools:$PATH"
{{- end }}

# 1password utils
1p () {
  local cmd="${1:-pass}"
  case $cmd in
    help)
      echo "A 1password helper."
      echo "Usage: 1p <command> [options]"
      echo
      echo "  login   Login to your 1password vault"
      echo "  pass    Search and get a password"
      echo "  totp    Search and get a one time token"
      echo "  doc     Search and get an attached document"
      ;;
    login)
      eval $(op signin $2)
      ;;
    pass)
      1p_get | xargs -I % op get item "%" | jq -r '.details.fields[] |select(.designation=="password").value'
      ;;
    totp)
      1p_get | xargs -I % op get totp "%"
      ;;
    doc)
      1p_get | xargs -I % op get document "%"
      ;;
    *)
      echo "$fg[red]Command $fg_bold[white]$cmd$fg_no_bold[red] not recognised$fg_no_bold[default]"
      ;;
  esac
}

1p_get () {
  op list items | jq -r '.[].overview.title' | fzf
}

