source ~/.local/share/chezmoi/.helpers

export ASDF_DATA_DIR="$HOME/.asdf"
export PATH="$ASDF_DATA_DIR/shims:$PATH"

# doctl config
# ============
if is_installed doctl; then
  source <(doctl completion zsh)
fi

# java config
# ===========

{{- if .lang.java }}
. ~/.asdf/plugins/java/set-java-home.zsh
{{- end }}

# npm config
# ==========

function n () {
  ./node_modules/.bin/$1 "${@:2}"
}

unalias npmi
function npmi () {
  npmSe $1 --json | jq '.[].name' -r | fzf --preview 'npm info {}' --height 40% -m | xargs -I '{}' npm install {} "${@:2}"
}

function ts-errors() {
  sed  -E "s|(.*)\(([0-9]+),([0-9]+)\): (.+)|\1:\2:\3: \4|" <<< $(n tsc --noEmit | grep -E 'TS[0-9]+:')
}

# ruby config
# ===========
alias be='bundle exec'

# dotnet config
# =============
{{- if .lang.dotnet }}
  . ~/.asdf/plugins/dotnet-core/set-dotnet-home.zsh
  export PATH="~/.dotnet/tools:$PATH"
{{- end }}

# 1password config
# ================
1p () {
  local cmd="${1:-pass}"
  case $cmd in
    help)
      echo "A 1password helper."
      echo "Usage: 1p <command> [options]"
      echo
      echo "  login   Login to your 1password vault"
      echo "  pass    Search and get a password"
      echo "  totp    Search and get a one time token"
      echo "  doc     Search and get an attached document"
      ;;
    login)
      eval $(op signin $2)
      ;;
    pass)
      1p_get | xargs -I % op get item "%" | jq -r '.details.fields[] |select(.designation=="password").value'
      ;;
    totp)
      1p_get | xargs -I % op get totp "%"
      ;;
    doc)
      1p_get | xargs -I % op get document "%"
      ;;
    *)
      echo "$fg[red]Command $fg_bold[white]$cmd$fg_no_bold[red] not recognised$fg_no_bold[default]"
      ;;
  esac
}

1p_get () {
  op list items | jq -r '.[].overview.title' | fzf
}

