#!/usr/bin/env zsh

source ~/.local/share/chezmoi/.helpers

install_asdf() {
  started 'Installing asdf'
  successfully git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.7.4
  successfully source ./config.zsh
  success 'Installed asdf'
}

install_plugin() {
  [[ $(asdf plugin-list) =~ $1 ]] || asdf plugin-add $@
}

install_plugins() {
  started 'Installing asdf plugins'
  successfully install_plugin nodejs
  successfully install_plugin python

  {{- if not .minimalinstall }}
  successfully install_plugin ruby
  successfully install_plugin kubectl
  successfully install_plugin helm
  successfully install_plugin 1password
  successfully install_plugin neovim
  successfully install_plugin github-cli https://github.com/bartlomiejdanek/asdf-github-cli.git

  {{- if .lang.golang }}
  successfully install_plugin golang
  {{- end }}
  {{- if .lang.rust }}
  successfully install_plugin rust
  {{- end }}
  {{- if .lang.swift }}
  successfully install_plugin swift
  {{- end }}
  {{- if .lang.java }}
  successfully install_plugin java
  {{- end }}
  {{- if .lang.dotnet }}
  successfully install_plugin dotnet-core
  {{- end }}
  {{- end }}

  # successfully npx npm-merge-driver install --global

  success 'Installed asdf plugins'
}

if [[ -e ~/.asdf ]]; then
  echo '✅ asdf already installed'
else
  successfully install_asdf
fi
install_plugins
