#!/usr/bin/env zsh

source ~/.local/share/chezmoi/.helpers

install_neovim () {
  {{- if eq .chezmoi.os "linux" }}
  successfully sudo apt install neovim
  {{- else }}
  successfully brew install neovim
  {{- end }}

  successfully curl -fLo ~/.vim/autoload/plug.vim --create-dirs
    \ https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
  successfully curl -fLo ~/.local/share/nvim/site/autoload/plug.vim --create-dirs
    \ https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
}

if is_installed nvim; then
  success 'neovim is already installed'
else
  started 'Installing neovim'
  install_neovim
  success 'Installed neovim'
fi
