#!/usr/bin/env zsh

source ~/.local/share/chezmoi/.helpers

{{- if eq .chezmoi.os "linux" }}
vim-nox_installed() {
  dpkg -s vim-nox &> /dev/null;
}

if vim-nox_installed; then
  success 'vim-nox already installed'
else
  started 'Installing vim-nox'
  succesfully sudo apt-get install -y vim-nox
  success 'Installed vim-nox'
fi

{{- else }}

if is_installed nvim; then
  success 'neovim is already installed'
else
  started 'Installing neovim'
  successfully brew install neovim
  success 'Installed neovim'
fi
{{- end }}
