#!/usr/bin/env zsh

{{- if .minimalinstall }}
exit 0
{{- end }}

source ~/.local/share/chezmoi/.helpers

if is_installed fuck; then
  success 'thefuck is already installed'
else
  if ! is_installed pip3; then
    warn 'pip required to install thefuck'
    exit 1
  fi
  started Installing thefuck
  {{- if eq .chezmoi.os "linux" }}
  successfully sudo pip3 install thefuck
  {{- else if eq .chezmoi.os "darwin" }}
  successfully brew install thefuck
  {{- end }}
  success Installed thefuck
fi

