#!/usr/bin/env zsh

source ~/.local/share/chezmoi/.helpers

if is_installed bat; then
  success 'bat is already installed'
else
  started Installing bat
  {{- if eq .chezmoi.os "linux" }}
  curl -sL https://api.github.com/repos/sharkdp/bat/releases/latest \
    | jq -r '.assets[].browser_download_url' \
    | grep -- "`architecture`64.deb" \
    | wget -qi -

  successfully sudo dpkg -i bat_*.deb
  rm bat_*.deb
  {{- else if eq .chezmoi.os "darwin" }}
  successfully brew install bat
  {{- end }}
  success Installed bat
fi

