#!/usr/bin/env zsh
setopt +o nomatch

source ~/.local/share/chezmoi/.helpers

download_bat () {
  [[ "$(architecture)" == 'arm' ]] \
    && filename='arm-unknown-linux-gnu' \
    || filename='amd64.deb'

  echo $filename
  successfully curl -sL https://api.github.com/repos/sharkdp/bat/releases/latest \
    | jq -r '.assets[].browser_download_url' \
    | grep -- $filename \
    | grep -- 'bat_' \
    | wget -qi -
}

if is_installed bat; then
  success 'bat is already installed'
else
  started Installing bat
  {{- if eq .chezmoi.os "linux" }}
  download_bat

  if [ -f bat*.deb ]; then
    successfully sudo dpkg -i bat_*.deb
  elif [ -f bat*.tar.gz ]; then
    successfully tar zxf bat*.tar.gz
    successfully sudo mv ./bat*/bat /usr/local/bin/
  else
    echo 'Unknown binary file'
    exit 1
  fi
  rm -rf bat*
  {{- else if eq .chezmoi.os "darwin" }}
  successfully brew install bat
  {{- end }}
  success Installed bat
fi

bat cache --build
