#!/usr/bin/env zsh

source ~/.local/share/chezmoi/.helpers

install_mise() {
  started 'Installing mise'
  {{- if eq .chezmoi.os "darwin" }}
  successfully brew install mise
  {{- else }}
  successfully curl -fsSL https://mise.run | sh
  export PATH="$HOME/.local/bin:$PATH"
  {{- end }}
  success 'Installed mise'
}

install_tools() {
  started 'Installing mise tools'
  successfully mise install
  success 'Installed mise tools'
}

if is_installed mise; then
  echo '✅ mise already installed'
else
  successfully install_mise
fi

install_tools
