#!/usr/bin/env zsh

source ~/.local/share/chezmoi/.helpers

install_apps () {
  local apps=(
    claude-code
    ghostty
    mackup
    pixelsnap
    raycast
    {{- if not .minimalinstall }}
    1password
    coreutils
    finicky
    google-chrome
    notion
    postico
    slack
    spotify
    trash
    {{- end }}
  )

  for app in $apps; do
    successfully brew install $app
  done
}

started 'Installing Mac apps'
install_apps
success 'Installed Mac apps'
